<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kuvitteellinen Yritys</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>YRITYS OY</h1>
    </header>
    <nav>
        <button onclick="loadPage('home')">Pääsivu</button>
        <button onclick="loadPage('about')">Yritysesittely</button>
        <button onclick="loadPage('contact')">Yhteystiedot</button>
        <button onclick="loadPage('staff2')">Henkilökunta</button>
    </nav>
    <div id="content">
        <h2>JavaScript palautustehtävä</h2>
        <p>Tervetuloa Yritys Oy:n sivuille.</p>
    </div>
    
    <script src="/script.js"></script>
</body>
</html>
